
@model ASPNET_Core_MVC.Models.TvSeries

@{
    ViewData["Title"] = "Delete TV Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mt-4 mb-4">Delete TV Series</h1>
    
    <div class="alert alert-danger">
        <h3>Are you sure you want to delete this TV Series?</h3>
        <p>This action cannot be undone.</p>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Title</dt>
                <dd class="col-sm-9">@Model.Title</dd>
                
                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">@Model.Description</dd>
                
                <dt class="col-sm-3">Creator</dt>
                <dd class="col-sm-9">@Model.Creator</dd>
                
                <dt class="col-sm-3">Genre</dt>
                <dd class="col-sm-9">@Model.Genre</dd>
                
                <dt class="col-sm-3">Years</dt>
                <dd class="col-sm-9">@Model.StartYear - @(Model.EndYear.HasValue ? Model.EndYear.Value.ToString() : "Present")</dd>
                
                <dt class="col-sm-3">Featured</dt>
                <dd class="col-sm-9">@(Model.IsFeatured ? "Yes" : "No")</dd>
                
                <dt class="col-sm-3">Date Added</dt>
                <dd class="col-sm-9">@Model.DateAdded.ToShortDateString()</dd>
            </dl>
            
            <form asp-action="DeleteTvSeries">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="TvSeries" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
