@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <!-- Featured Movies Carousel -->
    <div class="row mt-4">
        <div class="col">
            <h2>Featured Movies</h2>
            <div class="featured-carousel">
                <div class="row">
                    @foreach (var movie in ViewBag.FeaturedMovies)
                    {
                        <div class="col-md-3 mb-4">
                            <div class="card featured-movie-card">
                                <a href="@Url.Action("Details", "Movies", new { id = movie.Id })">
                                    <img src="@movie.ImageUrl" class="card-img-top featured-poster" alt="@movie.Title">
                                    <div class="card-body">
                                        <h5 class="card-title">@movie.Title</h5>
                                        <p class="card-text">@movie.ReleaseYear | @movie.Genre</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Latest Movies -->
    <div class="row mt-4">
        <div class="col">
            <h2>Latest Movies</h2>
            <div class="row">
                @foreach (var movie in ViewBag.LatestMovies)
                {
                    <div class="col-md-2 mb-4">
                        <div class="card movie-card">
                            <a href="@Url.Action("Details", "Movies", new { id = movie.Id })">
                                <img src="@movie.ImageUrl" class="card-img-top movie-poster" alt="@movie.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@movie.Title</h5>
                                    <p class="card-text">@movie.ReleaseYear</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Featured TV Series -->
    <div class="row mt-4">
        <div class="col">
            <h2>Featured TV Series</h2>
            <div class="featured-carousel">
                <div class="row">
                    @foreach (var series in ViewBag.FeaturedTvSeries)
                    {
                        <div class="col-md-3 mb-4">
                            <div class="card featured-movie-card">
                                <a href="@Url.Action("Details", "TvSeries", new { id = series.Id })">
                                    <img src="@series.ImageUrl" class="card-img-top featured-poster" alt="@series.Title">
                                    <div class="card-body">
                                        <h5 class="card-title">@series.Title</h5>
                                        <p class="card-text">@series.StartYear | @series.Genre</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Latest TV Series -->
    <div class="row mt-4">
        <div class="col">
            <h2>Latest TV Series</h2>
            <div class="row">
                @foreach (var series in ViewBag.LatestTvSeries)
                {
                    <div class="col-md-2 mb-4">
                        <div class="card movie-card">
                            <a href="@Url.Action("Details", "TvSeries", new { id = series.Id })">
                                <img src="@series.ImageUrl" class="card-img-top movie-poster" alt="@series.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@series.Title</h5>
                                    <p class="card-text">@series.StartYear</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>